      <div class="panel panel-default" style="margin-top:25px;">
      <%= image_tag "/default_user.png", :class => "img-circle", :style =>"margin: 25px auto;", :size => "120x120"%>
      <h4 style="text-align:center;">Kachina G</h4>
      <p style="text-align:center;font-weight: 400;">Oakland, Ca</p>
      <p style="text-align:center;font-weight: 200;padding:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin est sapien, pretium ac venenatis aliquet, tempus in erat. Nulla id luctus diam, quis venenatis urna. Nunc eget tincidunt metus. Maecenas sed viverra eros, sit amet accumsan tellus. Quisque scelerisque lacinia tellus, et iaculis odio lobortis ac.</p>
      </div>
