.navbar {
background-color: #FFF;
}

#logo {
	width: 46px;
	height: 42px;
	margin-top: -8px;
}

#register.btn-primary{
margin-top:10px;
padding:5px 15px;
border-color: #337AB7;
background-color: #fff  !important;
color: #337AB7;
}

#register.btn-primary:hover, #register.btn-primary:focus, #register.btn-primary:active, #register.btn-primary.active, #register.btn-primary:active:focus {
color: #fff;
background-color: #337AB7  !important;
}

#nav-dropdown{
border:none;
margin-top:6px;
}

#nav-dropdown.btn-default:hover, #nav-dropdown.btn-default:focus, .btn-default:active, .btn-default.active, .btn-default:active:focus ,.dropdown-toggle.btn {
background-color: #fff  !important;
}

.dropdown, #inbox, #notifications {
border-left-color: #eee;
border-left-width: 1px;
border-left-style: solid;
}

.dropdown{
border-right-color: #eee;
border-right-width: 1px;
border-right-style: solid;
}

.dropdown-menu {
	border:none;
	width:193px;
	margin-top:-2px;
}

#inbox {
padding:20px;
color: #199FD9;
}

#notifications {
padding:8px;
color: #C4C4C4;
border-right-style: none !important;
}

#counter {
	box-shadow: 0 0 0 2px #fff;
    font-weight: 700;
    display: block;
    border-radius: 20px;
    background: #CD4B5B;
    height: 16px;
    width: 16px;
    color: #fff;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 1;
    transition: all 0.3s;
    z-index: 500;
    }

#dropdown-avatar {
	padding:0px;
	margin-top:-5px;
}

#dropdown-avatar > img {
	margin: 0px auto;
	width: 34px;
	height: 34px;
}

#dropdown-name {
	padding:0px 8px;
}

.nav-icon {
	font-size:16px;
}