.facebookauth{
	
}

.style-minimalistic, .style-minimalistic:focus, .style-minimalistic:hover {
    border: none;
    border-bottom: 1px solid #ced8dd;
    border-radius: 0;
    padding:0px;
        box-shadow: none;

}

.style-minimalistic:focus{
	    border-bottom: 1px solid #3279B5;

}

#signin-modal.label {
	display:none;
}
